body {
    font-family: 'Roboto', sans-serif;
    background-color: #111111;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title-section {
    text-align: center;
    margin-bottom: 20px;
}

.title-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.title-info {
    text-align: center; /* Center the title and description */
}

.title-text {
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
}

.title-description {
    font-size: 1em;
    color: #aaaaaa;
    margin: 0;
}

a {
    color: #46769f;
}

header {
    margin-bottom: 20px;
}

.urgent-box {
    justify-content: center;
    width: 200%;
    max-width: 1500px;
    background-color: #1f1f1f;
    border: 4px solid #452323;
    border-radius: 8px;
    margin-right: auto; /* Auto margin on both sides to center */
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.serverstatus-box {
    justify-content: center;
    width: 200%;
    max-width: 1500px;
    background-color: #1f1f1f;
    border: 4px solid #4646467a;
    border-radius: 8px;
    margin-right: auto; /* Auto margin on both sides to center */
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 1px 4px rgba(155, 19, 19, 0.798);
}

.box-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    position: relative;
    width: 100%;
    max-width: 450px;
    background-color: #1f1f1f;
    border: 1px solid #464646;
    border-radius: 8px;
    margin-right: auto; /* Auto margin on both sides to center */
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center; /* Center the title and status text */
}

.box-header {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 7px;
}

.box-description {
    font-size: 1em;
    color: #aaaaaa;
    margin-bottom: 10px;
}

.status {
    font-size: 0.9em;
    padding-bottom: 10px;
}

.update {
    border-color: #7c90e4;
    color: #7c90e4;
}

.resolved {
    border-color: #4caf4fd4;
    color: #4caf50;
}

.issue {
    border-color: #ff9800;
    color: #ff9800;
}

.outage {
    border-color: #ac1c1c;
    color: #ac1c1c;
}

.critical {
    border-color: #fb6436;
    color: #fb6436;
}

footer {
    margin-top: auto;
    text-align: center;
    margin-top: 20px;
}

.footer-text {
    font-size: 0.8em;
    color: #888888;
    margin: 0;
}

/* Add this CSS to create a divider */
.divider {
    width: 100%;
    text-align: center;
    margin: 20px 0; /* Adjust the margin as needed */
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    display: inline-block;
    width: 45%; /* Adjust the width of the lines */
    border-top: 1px solid #aaaaaa; /* Color of the divider line */
    position: absolute;
    top: 50%;
}

.divider::before {
    right: 5%;
}

.divider::after {
    left: 5%;
}

.divider-text {
    display: inline-block;
    padding: 0 10px; /* Adjust padding as needed */
    background-color: #111111; /* Background color of the divider text */
    color: #aaaaaa; /* Color of the divider text */
    position: relative;
    z-index: 1; /* Bring the text to the front */
}

